.container {
    display: flex;
    align-items: center; /* Center vertically */
  };

  .tooltip{
    position: absolute;
    padding: 10px;
    background-color: steelblue;
    color:white;
    border: 1px solid white; border-radius: 10px;
    display: none;
    opacity: .75;
  }

  rect {
    pointer-events: all; 
    fill-opacity: 0; 
    stroke-opacity: 0;
    z-index: 1;
  }
  #container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    margin-left: 10px; /* Adjust the margin as needed to control the distance between "Value" and the graph */
  }
  